:root{
    --primary-color: #0d6efd;
}
.view{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}
.view:hover{
    color: white;
    background-color: var(--primary-color);
}
.system_info{
    display: flex;
    font-size: 16px !important;
    margin: 0 5px;
}
.system_info span{
    align-self: flex-end;
    line-height: 1;
    font-size: 18px !important;
}
.material-icons{
    margin-bottom: 2px;
}