.status{
    color: white;
    font-weight: 700;
    padding-inline: 0;
    margin-block: .3em;
}
div.inner{
    --pad: .5em;
    height: 100%;
    width: calc(100% - var(--pad));
    margin-inline: 0 var(--pad);
    padding: 15px 16px; 
}
.number{
    font-size: 1.2em;
}
.name{
    display: flex;
    margin-bottom: 10px;
}
.name span{
    font-size: 1em;
    align-self: flex-end;
}
.name span.material-icons-outlined,  
.name span.material-icons{
    font-size: 2em;
}
.updated{
    font-weight: 400;
    margin-top: 5px;
    font-size: 1em;
    padding: 0;
    text-align: center;
}

/* @media screen and (max-width: 720px) {
    .status {
        height: 140px;
    }
    .name span.material-icons-outlined,
    .name span.material-icons {
        font-size: 1.5em;
        align-self: center
    }
} */